04/04_Highlighted_data.json
{
  "name": "04 Highlighted data",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "21cd88c3-20b8-4bc6-b350-aba8fc4273ae",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "$execution.customData.setAll({\"key\": \"value\", \"marker\": \"orange\"})\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "d5af8a41-75f9-4dd8-9c6e-c84cb3d527bf",
      "name": "Code"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "quality",
              "value": "test"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "85fc5bbd-4da7-41d2-90e9-1421dbad05a6",
      "name": "Execution Data"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cd1384bc-ba02-4903-905f-6c9a3b8aab28",
  "meta": {
    "instanceId": "3bc8ab9c59db2f22c3832c970f1e62277632f4f782dd45f31cd31a57b2e9877f"
  },
  "id": "iW2kl8V9k99sx3QG",
  "tags": []
}