06/06_Code_Run_Methods.json
{
  "name": "06 Code Run Methods",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        160
      ],
      "id": "f2d0d2f3-b145-4954-b95e-1442d5557037",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "\nvar myContacts = [\n\t{\n\t\tjson: {\n\t\t\tname: 'Alice',\n\t\t\temail: {\n\t\t\t\tpersonal: 'alice@home.com',\n\t\t\t\twork: 'alice@wonderland.org'\n\t\t\t},\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\tname: 'Bob',\n\t\t\temail: {\n\t\t\t\tpersonal: 'bob@mail.com',\n\t\t\t\twork: 'contact@thebuilder.com'\n\t\t\t\t},\n\t\t}\n\t},\n];\n\nreturn myContacts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        160
      ],
      "id": "0ecfe6a3-44e3-4ab8-8c06-0070518a6f54",
      "name": "array of objects"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        40
      ],
      "id": "639c3ccb-0f56-4cf3-93da-2c1e9ebb7e90",
      "name": "once for all items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.myNewField = 1;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        240
      ],
      "id": "c5565f92-4c7b-4f21-b8c3-8990b496b0f6",
      "name": "once for each item"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "array of objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "array of objects": {
      "main": [
        [
          {
            "node": "once for all items",
            "type": "main",
            "index": 0
          },
          {
            "node": "once for each item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "718f66a2-637c-478e-9a64-3ba482b5ec70",
  "meta": {
    "instanceId": "3bc8ab9c59db2f22c3832c970f1e62277632f4f782dd45f31cd31a57b2e9877f"
  },
  "id": "6TJ9uAR0J7i9uG8V",
  "tags": []
}