10/10_openWeatherMap.json
{
  "name": "10 openWeatherMap",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1060,
        140
      ],
      "id": "c23f292d-38ad-4dcc-a8e8-b573dfe0df05",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "cityName": "Wuppertal,de",
        "language": "de"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -860,
        140
      ],
      "id": "6d11f3a1-2163-4360-8b61-df40f08f61f4",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "NduUv6O7WfBh3wRN",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://192.168.178.121/color/0?turn=off",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        80
      ],
      "id": "588b8827-15bf-4b66-a9a1-550e0e06513f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": "={{ $json.diffSunrise }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -280,
        80
      ],
      "id": "3ea94fcc-7c79-40e2-b4ad-3bc0d2e6e9c2",
      "name": "Wait sunrise",
      "webhookId": "d16be466-592c-47ca-bf26-c3c846e98637"
    },
    {
      "parameters": {
        "amount": "={{ $json.diffSunset - $json.diffSunrise }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -280,
        240
      ],
      "id": "e8484d6d-9910-4f0b-867d-4ffe9bfc1a45",
      "name": "Wait sunset",
      "webhookId": "d16be466-592c-47ca-bf26-c3c846e98637"
    },
    {
      "parameters": {
        "url": "http://192.168.178.121/color/0?turn=on",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        240
      ],
      "id": "5d3a3579-04fd-4e1f-b465-5dc7b46cd68a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "833f6f2b-a99c-44f8-9497-3468001376fa",
              "name": "sunrise-time",
              "value": "={{ $json.sys.sunrise.toDateTime('s') }}",
              "type": "string"
            },
            {
              "id": "c43def97-c0ff-451c-a103-3a942afa3ffb",
              "name": "sunset-time",
              "value": "={{ $json.sys.sunset.toDateTime('s') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        -80
      ],
      "id": "7c1c997b-7e61-4baf-8332-11a89eb97f8c",
      "name": "readable sunrise / sunset"
    },
    {
      "parameters": {
        "jsCode": "// INPUT: time in seconds\nconst now = Date.now();             // in millis\nconst diffSunrise = $input.first().json.sys.sunrise - (now  / 1000); \nconst diffSunset  = $input.first().json.sys.sunset - (now  / 1000); \nreturn [{ json: { diffSunrise, diffSunset } }];\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        140
      ],
      "id": "82b8391a-c1f4-4df5-91fa-42ba7a9731ff",
      "name": "compute diffs"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "readable sunrise / sunset",
            "type": "main",
            "index": 0
          },
          {
            "node": "compute diffs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait sunrise": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait sunset": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compute diffs": {
      "main": [
        [
          {
            "node": "Wait sunrise",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait sunset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08b2ab48-7630-4058-a32f-1752173ea012",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bc8ab9c59db2f22c3832c970f1e62277632f4f782dd45f31cd31a57b2e9877f"
  },
  "id": "VGoA4St3LDga39m5",
  "tags": [
    {
      "createdAt": "2025-04-16T07:15:46.223Z",
      "updatedAt": "2025-04-16T07:15:46.223Z",
      "id": "GKVdgZEMwOGp45OF",
      "name": "HTTP"
    },
    {
      "createdAt": "2025-04-16T07:16:28.892Z",
      "updatedAt": "2025-04-16T07:16:28.892Z",
      "id": "O2Nn5bnF56NPJ4yF",
      "name": "Wait"
    }
  ]
}